version: "3.1"

services:
  odoo:
    build:
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - 8069:8069
    volumes:
      - ..:/home/odoo/community
    command: sleep infinity

  db:
    image: postgres:15
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
      POSTGRES_DB: postgres